{% extends 'base.html' %}

{% block title %} Reset Password {% endblock %}

{% block css %}
{% endblock %}
{% block body %}    
<form action="/sendemail/" method="POST">
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Reset Pasword</h5>
          				
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">Please enter your email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <button type="submit" class="btn btn-success">Send Email</button>
        </div>
      </div>
</div>
</form>
{% endblock %}
{% block js %}
<script>
    {% if alert %}
    alert('We have sent you an email if you were registered with us.');
    {% endif %}
</script>
{% endblock %}